/*I denna main fil finns css för specifika delar av hemsidan*/
/* Grundstyle – mobil */

/*HEADER*/
.logo {
    padding: 5px;
}

.hero {
  width: 100%;
  height: 300px;
  overflow: hidden; /* klipper bilden om den sticker ut */
  position: relative;
}

.hero-image, .hero-image-desktop {
  height: 100%;
  width: 100%;
  object-fit: cover; /* beskär bilden snyggt utan att den förvrängs */
  object-position: center 8%; /* centrerar bilden vid beskärning */
  display: block;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 50%; /* så texten inte blir för smal */
}

.headline-sm {
  margin-bottom: 0.3rem;
}

/*FOOTER*/

footer {
  background-color: rgb(86, 79, 70);
  color: white;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-link {
    text-decoration: underline;
    transition: color 0.3s;
}

.footer-link:hover {
    color: rgba(255, 255, 255, 0.5)
}

/*Sektion mål */
.goals {

  background-color: var(--surface-tone);
}

.goal-card {
  text-align: center;
  border-block-end: 0.5px solid var(--black_a10);
  padding: var(--spacing-l);
}

.goals-grid {
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
}

/* cirkel för målen*/
.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 28px;
}

.icon-circle img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.statistics-section {
  padding: 2rem;
}

.statistics-layout {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statistics-chart {
  flex: 1.5;
  min-width: 0;
  height: 200px;
  position: relative;
}
.statistics-text {
  flex: 1;
  max-width: 300px;
}
.statistics-chart canvas {
  width: 100% !important;
  height: 100% !important;
}
.statistics-title {
  margin-bottom: 7px;
}

/*styling av clickbara cards för artiklar*/
.articles-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: var(--spacing-xs); /* mellanrum mellan korten */
  margin-top: var(--spacing-l);
}

.article-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.article-card {
  width: 100%;
  background-color: var(--white);
  color: var(--text-primary-black);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--shadow);
  border-top: 1px solid var(--black_a10);
}

.image {
    position: relative;
    width: 100%;
}

.image-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    padding: var(--spacing-s);
    color: rgb(45, 41, 36);
    transition: background 0.25s;
}

.image-overlay:hover {
    background: rgba(0, 0, 0, 0.15);
}
.overlay-content {
    max-width: 60%;
}

.overlay-left {
    justify-content: flex-start;
    align-items:flex-start;
    text-align: left;
    flex-direction: column;
}

.overlay-right {
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    flex-direction: column;
}
/*
.overlay-center {
    justify-content: top;
    align-items: center;
    text-align: left;
    flex-direction: column;
}*/
.overlay-left .body-sm{
    max-width: 65%;
}
.overlay-center .title-sm{
    margin-top: 30px;
}
.title-sm {
    margin-bottom: 1rem;
}


.main-headline-article {
  margin-top: var(--spacing-s);
}

hr {
  border-top: 2px solid var(--black_a10);
  width: 20%; /* hur brett strecket ska vara */
  margin: var(--spacing-s) auto;
}
.container-article-long {
  margin-top: var(--spacing-xxl);
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  margin-inline: auto;
  max-width: 80%;

  /*header spans 2 columner*/
  grid-template-areas:
    "head"
    "article-head"
    "article-h2-1"
    "text-above-img"
    "article-image"
    "article-text-1"
    "article-h2-2"
    "image-left"
    "article-text-right"
    "article-h2-3"
    "image-right"
    "article-text-left";
}

.article-head {
  grid-area: head;
}

.text-above-img {
  grid-area: text-above-img;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  /*padding: var(--spacing-xs);*/
}

.article-image {
  grid-area: article-image;
}

.article-h2-1 {
  grid-area: article-h2-1;
}

.article-text-1 {
  grid-area: article-text-1;
}

.image-left {
  grid-area: image-left;
  width: 100%;
}

.article-h2-2 {
  grid-area: article-h2-2;
}

.article-text-left {
  grid-area: article-text-left;
}

.article-h2-3 {
  grid-area: article-h2-3;
}

.article-h2-3 {
  grid-area: article-h2-3;
}

.image-right {
  grid-area: image-right;
  width: 100%;
}

.article-text-right {
  grid-area: article-text-right;
}

.article-head,
.article-h2-1,
.article-h2-2,
.article-h2-3 {
  text-align: center;
  color: var(--text-primary-black);
}

.date {
  font-weight: 300;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  padding: var(--spacing-xl);
}

.statistic-img {
  width: 90%;
  margin-inline: auto;
}

.chart-container {
  width: 100%;
  margin-inline: auto;
}

.references-section {
  display: flex;
  justify-content: center;
}

.references-box {
  width: 70%;
  background-color: var(--surface-tone);
  padding: 1.5rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
}

.references-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.references-description {
  display: flex;
  justify-content: center;
}

.sources-section {
  display: flex;
  justify-content: center;
}

.sources-header {
  text-align: center;
  padding-bottom: 30px;
}

.headline-md {
  text-align: center;
  padding-top: 150px;
}
.reference-item {
     overflow-wrap: break-word;
    word-break: break-word;
}

.container-kallor {
  margin: 0px;
}


/* Tablet */
@media (min-width: 768px) {
  /*html {
    font-size: 15px;
  }*/
  .hero-headline {
    font-size: var(--fs-38);
  }

  .navbar-item:not(_last-child) {
    border-block-end: none;
  }

  .hero {
    height: 400px;
  }
  .hero-image-mobile {
    display: none;
  }

  .hero-image-desktop {
    display: block;
    object-position: center;
  }

  .goals-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .body-sm {
    font-size: xx-small;
  }
  .title-sm {
    font-size: small;
  }
  .overlay__left .body-sm {
    max-width: 80%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /*html {
    font-size: 20px;
  }*/
  .hero-headline {
    font-size: var(--fs-45);
  }

  .hero {
    height: 500px;
  }


  /*döjer hamburgermenyknappen vid desktopläge*/
  .nav-toggle-btn,
  .nav-toggle-btn ion-icon {
    display: none;
  }
  /*navbarens utseende i desktopläge*/
  .navbar {
    display: block;
    position: static;
    visibility: visible;
    transform: none;
    border: none;
    width: auto;
    background-color: transparent;
  }

  .navbar-list {
    display: flex;
    gap: 32px;
  }

  .navbar-link {
    color: var(--white);
  }

  .container-article-long {
    grid-template-columns: 1fr;
    max-width: 50%;
  }

  /*styling av artikelsidan
    .container-article-long {
    grid-template-columns: 1fr 1fr;
    max-width: 50%; 
    
        /*header spans 2 columner
        grid-template-areas:
        "head head"
        "article-head article-head"
        "article-h2-1 article-h2-1"
        "text-above-img text-above-img"
        "article-image article-image"
        "article-text-1 article-text-1"
        "article-h2-2 article-h2-2"
        "image-left article-text-right"
        "article-h2-3 article-h2-3"
        "article-text-left image-right";
    } */
}
