/*I denna main fil finns css för specifika delar av hemsidan*/
/* Grundstyle – mobil */

/*HEADER*/


.hero {
    width: 100%;
    max-height: 400px;
    overflow: hidden; /* klipper bilden om den sticker ut */
    position:relative;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover; /* beskär bilden snyggt utan att den förvrängs */
    object-position: center; /* centrerar bilden vid beskärning */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 50%; /* så texten inte blir för smal */
}

.headline-lg {
    margin-bottom: 0.3rem;
}

/*FOOTER*/

footer {
    background-color: rgb(86, 79, 70);
    color: white;
    padding: 20px;
    margin-top: 30px;
}

/*Sektion mål */
.goals {
    padding-top: var(--spacing-s); 
    background-color: var(--surface-tone);
}


.goal-card {
    text-align: center;
    border-block-end: 0.5px solid var(--black_a10); 
    padding: var(--spacing-l);
    
} 

.goals-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-l); 
    justify-content: center;

}


/* cirkel för målen*/
.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 28px;
}

.icon-circle img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.statistics-section {
    padding: 2rem;
}

.statistics-layout {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.statistics-chart {
    flex: 1.5;
    min-width: 0;
    height: 200px;
    position: relative;
}
.statistics-text {
    flex: 1;
    max-width: 300px;
}
.statistics-chart canvas {
    width: 100% !important;
    height: 100% !important;
}
.statistics-title {
    margin-bottom: 7px;
}


/*styling av clickbara cards för artiklar*/
.articles-grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--spacing-xs); /* mellanrum mellan korten */
    margin-top: var(--spacing-l);
}


.article-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.article-card {
    max-width: 100%;
    background-color: var(--white);
    color: var(--text-primary-black);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--shadow);
    border-top: 1px solid var(--black_a10);
}

.image {
    position:relative;
    width: 100%;
}

.image__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    padding: var(--spacing-s);
    color: rgb(45, 41, 36);
    background: rgba(0,0,0,0);
    transition: background 0.25s;
}

.image__overlay:hover {
    background: rgba(0, 0, 0, 0.15);
}

.overlay-content {
    max-width: 60%;
}

.overlay__left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
}

.overlay__right {
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
}

.overlay__center {
    justify-content: top;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.overlay__left .body-sm{
    max-width: 65%;
}
.overlay__center .title-sm{
    margin-top: 30px;
}
.title-sm {
    margin-bottom: 1rem;
}

/*styling av artikelsidan*/
/*styling av artikelsidan*/
.container-article-long {
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-inline: auto;

    /*header spans 2 columner*/
    grid-template-areas: "head head"
        "text-above-img text-above-img"
        "image-1 image-1"
        "text-1 text-1"
        "article-h2-1 article-h2-1"
        "image-2 text-2"
        "article-h2-2 article-h2-2"
        "text-3 image-3";
}

.article-head {
    grid-area: head;
}

.text-above-img {
    grid-area: text-above-img;
}

.article-image {
    grid-area: image-1;
}

.article-h2-1 {
    grid-area: article-h2-1;
}

.article-text-1 {
    grid-area: text-1;
}

.image-left {
    grid-area: image-2;
    width: 250px;
}

.article-h2-2 {
    grid-area: article-h2-2;
}

.article-text-left {
    grid-area: text-2;
}

.image-right {
    grid-area: image-3;
    width: 250px;
    justify-self: end;
}

.article-text-right {
    grid-area: text-3;
}


.article-head,
.article-h2-1,
.article-h2-2 {
    text-align: center;
    color: var(--text-primary-black);
}

.date {
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    padding: var(--spacing-xl);
}

.statistic-img {
    width: 90%;
    margin-inline: auto;
}

.text-above-img {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding: var(--spacing-s);
}



/* Tablet */
@media (min-width: 768px) {

    html {
        font-size: 12px;
    }
    .hero {
        max-height: 600px;
    }

    .goals-grid {
        grid-template-columns: repeat(3, 1fr); 
        width: 100%;
    }


    .articles-grid {
        grid-template-columns: repeat(3, 1fr); 
        width: 100%;
    }

    .body-sm {
        font-size: xx-small;
    }
    .title-sm {
        font-size: small;
    }
    .overlay__left .body-sm{
    max-width: 80%;
}

}

/* Desktop */
@media (min-width: 1024px) {

    html {
        font-size: 14px;
    }

    .hero {
        max-height: 800px;
    }

    /*döjer hamburgermenyknappen vid desktopläge*/
    .nav-toggle-btn,
    .nav-toggle-btn ion-icon {
        display: none;
    }
    /*navbarens utseende i desktopläge*/
    .navbar {
        display: block;
        position: static;
        visibility: visible;
        transform: none;
        border: none;
        width: auto;
        background-color: transparent;
    }

    .navbar-list {
        display: flex;
        gap: 32px;
    }

    .navbar-link {
        color: var(--white);
    }

    

}
