/*I denna main fil finns css för specifika delar av hemsidan*/
/* Grundstyle – mobil */

/*HEADER*/
.logo {
  padding: 5px;
}

.hero {
  width: 100%;
  height: 300px;
  overflow: hidden; /* klipper bilden om den sticker ut */
  position: relative;
}

.hero-image,
.hero-image-desktop {
  height: 100%;
  width: 100%;
  object-fit: cover; /* beskär bilden snyggt utan att den förvrängs */
  object-position: center 8%; /* centrerar bilden vid beskärning */
  display: block;
}

.hero-image-desktop {
    height: 100%;
    width: 100%;
    object-fit: cover; /* beskär bilden snyggt utan att den förvrängs */
    object-position: center 8%; /* centrerar bilden vid beskärning */
    display: none;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 50%; /* så texten inte blir för smal */
}

.headline-sm {
  margin-bottom: 0.3rem;
}

.header-background {
  height: 60px; /* justera efter headerns höjd */
  overflow: hidden;
}
.header-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  display: block;
}

/*FOOTER*/

footer {
  background-color: hsla(42, 16%, 15%, 0.9);
  color: white;
  padding: 20px;
  margin-top: 120px;
  align-items: center;
  padding: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.footer-section {
  flex: 1;
}

.footer-section img {
  padding-left: 5px;
  padding-bottom: 5px;
}

.footer-section h3 {
  padding-left: 10px;
  padding-bottom: 10px;
}
.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section:first-child p {
  display: none;
}

.footer-section li {
  margin-bottom: 10px;
  text-decoration: underline;
  transition: color 0.3s;
}

.footer-section li:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-top: 15px;
}

/*Sektion mål */
.goals {
  background-color: var(--white);
}

.goal-card {
  text-align: center;
  border-block-end: 0.5px solid var(--black_a10);
  padding: var(--spacing-l);
}

.goals-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.goal-divider {
  display: none;
}

/* cirkel för målen*/
.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--black_a10);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 28px;
}

.icon-circle img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.goal-title {
  padding-top: var(--spacing-s);
}

.stats-section {
  margin-top: 20px;
}
.stats-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.stats-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: var(--radius-20);
  background: hsla(229, 37%, 22%, 1);
}

.fact-box {
  background: hsla(229, 40%, 71%, 0.7);
  min-width: 0;
  border-radius: var(--radius-20);
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: hsla(229, 37%, 22%, 1);
}

.stats-text,
.stats-chart {
  min-width: 0;
  color: white;
}

.stats-chart {
  height: 200px;
}

.hr-stats-title {
  width: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#cb7be9-map {
  width: 100%;
  height: 500px;
}

.fact-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #eb5dbb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 5px;
  color: #eb5dbb; /* <-- lägg här istället */
}

.fact {
  margin: 50px;
  display: flex;
  justify-content: center;
}
.fact-text {
  max-width: 500px;
  padding: 7px;
  border-left: 3px solid #dbd5d9;
  padding-left: 1rem;
}
.fact {
  display: flex;
  align-items: center;
}
.fact-space-between {
  padding: 8px;
}

/*styling av clickbara cards för artiklar*/
.articles-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: var(--spacing-xs); /* mellanrum mellan korten */
  margin-top: var(--spacing-l);
}

.map-wrapper {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

#Map {
  width: 100%;
  height: 400px;
}
.article-image {
  display: block;
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  object-fit: contain;
  justify-content: center;
  filter: saturate(75%) brightness(90%);
}

.article-card {
  width: 100%;
  background-color: var(--white);
  color: var(--text-primary-black);
  border-radius: var(--radius-20);
  overflow: hidden;
  box-shadow: var(--shadow);
  border-top: 1px solid var(--black_a10);
}

.image {
  position: relative;
  width: 100%;
}

.image-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  padding: 2rem;
  color: white;
  background: linear-gradient(rgba(36, 43, 78, 0.35), rgba(36, 43, 78, 0.15));
}

.image-overlay:hover {
  background: rgba(96, 21, 75, 0.15);
}
.overlay-content {
  max-width: 80%;
}

.link-button {
  width: fit-content;
  background: #eb5dbb;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 0.65rem;
  font-weight: 500;
  margin-top: 1rem;
}

.main-headline-article {
  margin-top: var(--spacing-s);
}
.hr-article {
  width: 20%; /* hur brett strecket ska vara */
  margin: var(--spacing-s) auto;
}

hr {
  background: #eb5dbb;
  height: 3px;
}

.drop-cap::first-letter {
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  float: left;
  line-height: 1;
  margin-right: 0.1em;
}

.container-article-long {
  margin-top: var(--spacing-xxl);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  max-width: 1200px;
  width: 100%;

  /*header spans 2 columner*/
  grid-template-areas:
    "head"
    "article-head"
    "article-h2-1"
    "text-above-img"
    "article-image"
    "article-text-1"
    "article-h2-2"
    "image-left"
    "article-text-right"
    "article-h2-3"
    "image-right"
    "article-text-left";
}

.article-head {
  grid-area: head;
}

.text-above-img {
  grid-area: text-above-img;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  /*padding: var(--spacing-xs);*/
}

.article-image {
  grid-area: article-image;
}

.article-h2-1 {
  grid-area: article-h2-1;
}

.article-text-1 {
  grid-area: article-text-1;
  padding-bottom: 40px;
  padding-top: 20px;
}

.image-left {
  grid-area: image-left;
  width: 100%;
}

.article-h2-2 {
  grid-area: article-h2-2;
}

.article-text-left {
  grid-area: article-text-left;
  padding-bottom: 40px;
}

.article-h2-3 {
  grid-area: article-h2-3;
}

.article-h2-3 {
  grid-area: article-h2-3;
}

.image-right {
  grid-area: image-right;
  width: 100%;
}

.article-text-right {
  grid-area: article-text-right;
  padding-bottom: 40px;
}

.article-head,
.article-h2-1,
.article-h2-2,
.article-h2-3 {
  text-align: center;
  color: var(--text-primary-black);
}

.articles .overlay-content {
  padding: 2rem;
}
.articles .overlay-content .body-sm {
  max-width: 250px;
}

.date {
  font-weight: 300;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  padding: var(--spacing-xl);
}

.statistic-img {
  width: 90%;
  margin-inline: auto;
}

.chart-container {
  width: 100%;
  margin-inline: auto;
}

.references-section {
  display: flex;
  justify-content: center;
}

.references-box {
  width: 70%;
  background-color: var(--surface-tone);
  padding: 3rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
}

.references-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.references-description {
  display: flex;
  justify-content: center;
}

.description {
  padding-top: 0;
}

.sources-section {
  display: flex;
  justify-content: center;
}

.sources-header {
  text-align: center;
  padding-bottom: 30px;
}

.headline-md {
  text-align: center;
  padding-top: 150px;
}
.reference-item {
  overflow-wrap: break-word;
  word-break: break-word;
}

.container-kallor {
  margin: 0px;
}

.data-kalla {
  text-align: right;
  font-size: 0.8rem;
}

/* Tablet */
@media (min-width: 768px) {
  /*html {
    font-size: 15px;
  }*/

  .hero-headline {
    font-size: var(--fs-38);
  }

  .navbar-item:not(_last-child) {
    border-block-end: none;
  }

  .hero {
    height: 400px;
  }
  .hero-image {
    display: none;
  }

  .hero-image-desktop {
    display: block;
  }

  .goals-grid {
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 1fr auto 1fr auto 1fr;
    align-items: center;
    width: 100%;
  }

  .goal-divider {
    border: none;
    border-left: 0.5px solid var(--black_a10);
    height: 60%;
    display: block;
    background: var(--black_a25);
  }

  .goal-card {
    border-block-end: none;
  }

  .stats-layout {
    grid-template-columns: 3fr 1fr;
  }

  .stats-main {
    grid-template-columns: 1fr 1fr;
  }

  .articles-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .body-sm {
    font-size: xx-small;
  }

  .title-sm {
    font-size: small;
  }

  .footer-section:first-child p {
    display: flex;
    max-width: 150px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  /*html {
    font-size: 20px;
  }*/

  .header-background {
    height: 62px;
  }

  .hero-headline {
    font-size: var(--fs-45);
  }

  .hero {
    height: 500px;
  }

  /*döjer hamburgermenyknappen vid desktopläge*/
  .nav-toggle-btn,
  .nav-toggle-btn ion-icon {
    display: none;
  }
  /*navbarens utseende i desktopläge*/
  .navbar {
    display: block;
    position: static;
    visibility: visible;
    transform: none;
    border: none;
    width: auto;
    background-color: transparent;
  }

  .navbar-list {
    display: flex;
    gap: 32px;
    justify-content: center;
  }

  /* .header{
    position: relative;
  }

  .header .container {
    position: relative;
  }

  .navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
  } */

  .header .container {
    justify-content: space-between;
  }

  .navbar {
    position: static;
    transform: none;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .navbar-link {
    color: var(--white);
  }



  .container-article-long {
    grid-template-columns: 1fr;
    max-width: 50%;
  }

  .stats-main {
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
  }

  #Map {
    width: 50%;
    height: 500px;
    margin-inline: auto;
  }

  .footer-section:first-child p {
    display: flex;
    max-width: 200px;
  }

  .overlay-content p {
    font-size: 1.5rem;
  }

  
  .overlay-content h3 {
    font-size: 2rem;
  }

  .link-button {
    font-size: 1.5rem;
  }

  .scale-section p {
    font-size: 1.5rem;
  }

  .scale-section h2 {
    font-size: 1.5rem;
  }

  .stats-section h2 {
    font-size: 1.5rem;
  }

  .stats-section p {
    font-size: 1.3rem;
  }
  /*styling av artikelsidan
    .container-article-long {
    grid-template-columns: 1fr 1fr;
    max-width: 50%; 
    
        /*header spans 2 columner
        grid-template-areas:
        "head head"
        "article-head article-head"
        "article-h2-1 article-h2-1"
        "text-above-img text-above-img"
        "article-image article-image"
        "article-text-1 article-text-1"
        "article-h2-2 article-h2-2"
        "image-left article-text-right"
        "article-h2-3 article-h2-3"
        "article-text-left image-right";
    } */
}
