/*Sandra Eriksson Gustav Westman Tove Hübinette*/


/* VÅG */
.scale-wrapper{
  position:relative;
  width:100%;
  margin-bottom: 50px;
  display:flex;
  justify-content:center;
  align-items:top;
  overflow:hidden;
}

.scale{
  position:relative;
  width:340px;
  height:180px;
}

/* BEAM */
.beam{
  position:absolute;
  width: 85%;
  height:6px;
  background:#111;
  top:65px;
  left:30px;
  transform-origin:center center;
  transition:1s ease;
  border-radius:20px;
}

/* HANGERS */
.left-hanger{
  position:absolute;
  width:70px;
  height:65px;
  left:-8px;
  top:6px;
}

.right-hanger{
  position:absolute;
  width:70px;
  height:65px;
  right:-8px;
  top:6px;
}

/* LINES */
.line-left,
.line-right{
  position:absolute;
  width:2px;
  height:24px;
  background:#111;
  border-radius:20px;
}

.line-left{
  left:14px;
  transform:rotate(-20deg);
}

.line-right{
  right:14px;
  transform:rotate(20deg);
}

/* BOWL */
.bowl{
  position:absolute;
  bottom:17px;
  left:50%;
  transform:translateX(-50%);
  width:70px;
  height:24px;
  background:#333;
  border-bottom-left-radius:80px;
  border-bottom-right-radius:80px;
  box-shadow:0 6px 12px rgba(0,0,0,0.15);
}

/* CENTER */
.center-circle{
  position:absolute;
  width:34px;
  height:34px;
  background:#111;
  border-radius:50%;
  left:50%;
  top:50px;
  transform:translateX(-50%);
  z-index:5;
  border:4px solid #444;
}

/* STAND */
.stand{
  position:absolute;
  width:12px;
  height:100px;
  background:#111;
  left:50%;
  top:80px;
  transform:translateX(-50%);
  border-radius:20px;
}

.base{
  position:absolute;
  width:120px;
  height:14px;
  background:#111;
  left:50%;
  bottom:0;
  transform:translateX(-50%);
  border-radius:20px;
}

/* WEIGHTS */
.weights{
  position:absolute;
  right:0;
  display:flex;
  flex-direction:column;
  gap:8px;
  z-index:10;
}

.weight{
  padding:10px;
  border-radius:14px;
  font-weight:bold;
  min-width:140px;
  opacity:0;
  transform:translateY(-10px);
  transition:0.4s;
  cursor:pointer;
  font-size:10px;
  text-align: center;
}

.weight.show{
  opacity: 1;
  transform:translateY(0);
}

.pink{
  background:#DC8CAA;
}
.blue{
  background:#789ABE;
}
.purple{
  background:#B4A5E6;
}
.brown{
  background:#E6BEA0;
}

/* RIGHT SIDE */
.right-side{
  margin-left: 2rem;
  margin-right: 2rem;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

.card{
  padding:7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius:14px;
  cursor:pointer;
  transition:0.3s;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.card-pink {
  background:hsla(330, 51%, 70%, 0.6);
}
.card-blue {
  background:hsla(214, 35%, 61%, 0.6);
}
.card-purple {
  background: hsla(254, 56%, 77%, 0.6);
}
.card-brown {
  background:hsla(29, 57%, 76%, 0.6);
}

.card:hover{
  transform:translateY(-4px);
}
.card-pink:hover {
  background:hsla(330, 51%, 70%, 1);
}
.card-blue:hover {
  background:hsla(214, 35%, 61%, 1);
}
.card-purple:hover {
  background: hsla(254, 56%, 77%, 1);
}
.card-brown:hover {
  background:hsla(29, 57%, 76%, 1);
}


.card-pink.active {
  background: hsla(330, 51%, 70%, 1);
}
.card-blue.active {
  background: hsla(214, 35%, 61%, 1);
}
.card-purple.active {
  background: hsla(254, 56%, 77%, 1);
}
.card-brown.active {
  background: hsla(29, 57%, 76%, 1);
}
.card p{
  color:#666;
  font-size: 9px;
}

/* Tablet */
@media (min-width: 768px) {
  .main-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .right-side {
    flex: 0.5;
    margin: 1rem;
    display: flex;
    justify-content: left;
  }

  .cards {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  /* SCALE */
  .scale-wrapper{
    flex: 0.5;
    width:100%;
    display: flex;
    justify-content: right;
  }

  .scale{
    width:400px;
    height:250px;
  }

  .beam{
    height:8px;
    top:90px;
  }

  .center-circle{
    width:46px;
    height:46px;
    top:68px;
    border-width:5px;
  }

  .stand{
    width:16px;
    height:140px;
    top:110px;
  }
}

/* DESKTOP */
@media(min-width: 1024px){
  .cards {
    width: 80%;
  }
}